# Tutorial 5

In this tutorial, we will cover
* Sets
* Tuples
* Revisit Lists
* Range

# Sets

Python provides some data structures for us to use. We've already looked at lists, and some of you may have touched on other options, such as tuples and dictionaries. We'll look at these other one's today, starting with sets.

A set is an unorderdd collection of objects in which each object value appears at most once.

I've used the book "Coding the Matrix" by Philip N. Klein in this tutorial.

In [1]:
{1+2, 3, 'a'}        # An object appears at most once

{3, 'a'}

In [2]:
{2, 1, 3}            # Ordering is not defined on a set

{1, 2, 3}

If you are a mathematician, you will speak about the cardinality of a set. For us, we can equate this with the length of a set or size of a set. Though this doesn't necessarily make sense when dealing wiht infinite sets (which we don't need to worry about)

In [3]:
print({'a','b','c','a','a'})
print(len({'a','b','c','a','a'}))

{'c', 'a', 'b'}
3

### Summing sets

In [4]:
# We can sum a set using the sum() function - same as lists
sum({1,2,3})

6

In [99]:
# We can start summing also at a non-zero number
sum({1,2,3},10)

16

### Testing membership

Membership in a set can be tested using the in operator and the not in operator. If `S` is a set, `x in S` is a
Boolean expression that evaluates to `True` if the value of `x` is a member of the set `S`, and `False` otherwise.
The value of a not in expression is just the opposite

This works for lists and tuples as well!

In [6]:
S={1,2,3}
2 in S

True

In [7]:
4 in S

False

In [8]:
4 not in S

True

### Set union and intersection

The union of two sets $S$ and $T$ is a new set that contains every value that is a member of $S$ or a member of
$T$ (or both). Python uses the vertical bar `|` as the union operator

In [102]:
{1,2,3} | {2,3,4}

{1, 2, 3, 4}

The intersection of $S$ and $T$ is a new set that contains every value that is a member of both $S$ and $T$. Python
uses the ampersand `&` as the intersection operator

In [104]:
{1,2,3} & {2,3,4}

{2, 3}

### Mutating

A value that can be altered is a mutable value. Sets are mutable; elements can be added and removed using
the add and remove methods

In [11]:
S={1,2,3}
S.add(4)
S.remove(2)
S

{1, 3, 4}

Python provides a method `update(...)` to add to a set all the elements of another collection (e.g. a set
or a list)

In [12]:
S.update({4, 5, 6})
S

{1, 3, 4, 5, 6}

Similarly, one can intersect a set with another collection, removing from the set all elements not in the other
collection

In [13]:
S.intersection_update({5,6,7,8,9})
S

{5, 6}

###  Set comprehensions

Comprehensions are extremely useful in Pythons. They provide a shorthand for building collections out of other collections. We haven't really comvered them yet, but they are very powerful, and as you get into Python, you will use them a lot. Let's start with an example.

In [14]:
{2*x for x in {1,2,3} }

{2, 4, 6}

This is a set comprehension over the set `{1,2,3}`. Anyone with a mathematical background will kind of recognise this as the set builder notation. E.g. the above could be represented as
$$\{2x : x \in \{1,2,3\}\}$$
To set the value, python iterates over the elements of `{1,2,3}`, at each iteration assigning the next value to `x` and then applying the formula `2*x`.

Note that we could do this using `for` loops like we learned before

In [15]:
S = set()           # Note that we need to use this syntax for  null set - this is because {} is used for an empty dictionary

for e in {1,2,3}:
    S.add(2*e)
    
S

{2, 4, 6}

###### Task
Write a comprehension over $\{1, 2, 3, 4, 5\}$ whose value is the set consisting of the squares of the
first five positive integers.

In [16]:
{x**2 for x in {1,2,3,4,5}}

{1, 4, 9, 16, 25}

###### Task
Write a comprehension over $\{0, 1, 2, 3, 4\}$ whose value is the set consisting of the first five powers
of two, starting with $2^0$.

In [17]:
{2**x for x in {0,1,2,3,4}}

{1, 2, 4, 8, 16}

Using the union operator `|` or the intersection operator `&`, you can write set expressions for the union or
intersection of two sets, and use such expressions in a comprehension

In [18]:
{x*x for x in S | {5, 7}}

{4, 16, 25, 36, 49}

By adding the phrase `if <condition>` at the end of the comprehension, you can skip some of the values in the set being iterated over. We can call this a filter

In [19]:
{x*x for x in S | {5, 7} if x > 2}

{16, 25, 36, 49}

You can also do the equivalent of nested loops. Double comprehension.

In [20]:
{x*y for x in {1,2,3} for y in {2,3,4}}

{2, 3, 4, 6, 8, 9, 12}

In [21]:
{x*y for x in {1,2,3} for y in {2,3,4} if x != y}       # double comprehension with filter

{2, 3, 4, 6, 8, 12}

### Some final points

We noted already that the empty set is represented by `set()` and not `{}`, which is distinct from the empty list `[]`. (By the way, you can also represent the empty list as `list()`)

You cannot have a set or a list as an element of a set.

In [22]:
# {{1,2},2,4}   # Whoops

In [23]:
# {[1,2],2,4}   # whoops

A set is a mutable object. You can add elements, remove elements, do intersections and so on. However, the elements of a set are immutable. So if a set is a mutable object, and the elements are immutable, then a set cannot be an element of another set.

# Lists

We've already covered lists, but we'll go through a couple of things we may have missed.

### List comprehensions

This is pretty much exactly the same as set comprehensions.

In [105]:
[2*x for x in {2,1,3,4,5}]

[2, 4, 6, 8, 10]

Here we've created a list by doing a comprehension over a set. Note that the order of the elements of the resultant list might not be the same as you expect from the set. 

To "fix" this we can use a list, as a list specifies an order on its elements. Python iterates over the elements in the order `[2,1,3,4,5]`, something which is not guaranteed with sets.

In [25]:
[2*x for x in [2,1,3,4,5]]

[4, 2, 6, 8, 10]

Let's also compare the following

In [106]:
[2*x for x in {2,1,3,4,5,4,3}]

[2, 4, 6, 8, 10]

In [107]:
[2*x for x in [2,1,3,4,5,4,3]]

[4, 2, 6, 8, 10, 8, 6]

###### Double comprehensions?

Just like sets, we can iterate over two (or more!) collections with two control variables

In [108]:
[ x*y for x in [1,2,3] for y in [10,20,30] ]

[10, 20, 30, 20, 40, 60, 30, 60, 90]

###### Task 
Write a double list comprehension over the lists `['A','B','C']` and `[1,2,3]` whose value is the list of all possible two-element lists `[letter, number]`.

In [29]:
[[l, n] for l in ['A','B','C'] for n in [1,2,3]]

[['A', 1],
 ['A', 2],
 ['A', 3],
 ['B', 1],
 ['B', 2],
 ['B', 3],
 ['C', 1],
 ['C', 2],
 ['C', 3]]

###### Task

Suppose `LofL` has been assigned a list whose elements are themselves lists of numbers. Write an
expression that evaluates to the sum of all the numbers in all the lists. The expression has the form
`sum([sum(...` and includes one comprehension. Test your expression after assigning `[[.25, .75, .1], [-1, 0], [4, 4, 4, 4]]` to LofL. Note that your expression should work for a list of any length.

In [30]:
LofL = [[.25, .75, .1], [-1, 0], [4, 4, 4, 4]]
[sum(L) for L in LofL]

[1.1, -1, 16]

In [31]:
sum([sum(L) for L in LofL])

16.1

### Slicing

We covered list slicing previously, but here's another trick.

Slices that skip: You can use a colon-separated triple `a:b:c` if you want the slice to include every c'th element.

In [32]:
L = [0,10,20,30,40,50,60,70,80,90]
print(L[::2])                 # Every even entry
print(L[1::2])                # Every odd entry
print(L[2:6:3])

[0, 20, 40, 60, 80]
[10, 30, 50, 70, 90]
[20, 50]

### Unpacking a list

We've seen indexing to access an element of a list before. Another way is to use unpacking.

In [110]:
[x,y,z] = [4*1, 4*2, 4*3]

print(x)
print(y)

4
8

In [34]:
# Can also use unpacking in list comprehensions
LofL = [[1, 1],[2, 4],[3, 9]]
[y for [x,y] in LofL]

[1, 4, 9]

In [35]:
LofL = [[1, 1],[2, 4],[3, 9]]
[x + y for [x,y] in LofL]

[2, 6, 12]

# Tuples

Tuples are like lists, except that they are immutable.

Question: Can a list be included as an element of a set?  
Question: Can a tuple be included as an element of a set?

In [36]:
mytuple = ("all", "my", "books")
mytuple[1]       # Can index same as a list

'my'

In [37]:
# mytuple[1] = "your"   # ERROR!

In [38]:
 (1, {"A", "B"}, 3.14)[2]

3.14

In [39]:
(a,b) = (1,5-3)    # Can unpack like with a list
a

1

In [40]:
# And even sometimes, with tuples, you can get away without using bracket
a,b = (1,5-3)
a

1

In [ ]:
[y for (x,y) in ((1,'A'),(2,'B'),(3,'C'))]

###### But be careful

Tuple comprehensions is not quite the same. The following ends up as something called a generator, not a tuple! We won't cover generators (maybe in a future tutorial)

In [42]:
(i for i in (1, 2, 3))

In [43]:
tuple(i for i in (1, 2, 3))

(1, 2, 3)

###### Task

Suppose $S$ is a set of integers, e.g. $\{−4, −2, 1, 2, 5, 0\}$. Write a triple comprehension whose value
is a list of all three-element tuples `(i, j, k)` such that $i$, $j$, $k$ are elements of $S$ whose sum is zero.

In [44]:
st = {-4, -2, 1, 2, 5, 0}

[(i, j, k) for i in st for j in st for k in st if i+j+k == 0]

[(0, 0, 0),
 (0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

###### Task
Modify the comprehension of the previous task so that the resulting list does not include $(0, 0, 0)$.

In [45]:
[(i, j, k) for i in st for j in st for k in st if i+j+k == 0 if (i,j,k) != (0,0,0)]

[(0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

###### Task 
Further modify the expression so that its value is not the list of all such tuples but is the first
such tuple.

In [46]:
[(i, j, k) for i in st for j in st for k in st if i+j+k == 0 if (i,j,k) != (0,0,0)][0]

(0, 2, -2)

### Get a list or set from other collections

Remember when we talked about casting values (float to int, and so on). This is very similar, and could be considered casting of these object types.

In [47]:
set([0,1,2,3,4,6,6,7,7,9])

{0, 1, 2, 3, 4, 6, 7, 9}

In [48]:
list({0,1,2,3,4,6,6,7,7,9})

[0, 1, 2, 3, 4, 6, 7, 9]

# Other iterable stuff

### Range

A range is like a list of the elements of an arithmentic sequence, but is not actually the list. We can cast to a list, though.

In [49]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
range(10)[2]

2

In [51]:
# Sum of the squares
sum({i*i for i in range(10)})

285

###### Task

Write a comprehension over a range of the form `range(n)` such that the value of the comprehension is the set of odd numbers from 1 to 99.

In [52]:
{x for x in range(1,99+1,2)}

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99}