# Tutorial 6

In this tutorial, we will cover:
* Zip
* Dictionaries
* One line procedures

### Zip

A zip is constructed from other collections all of the same length. Each element of the zip is a tuple consisting of one element from each of the input collections.

In [2]:
list(zip([1,3,5],[2,4,6]))

[(1, 2), (3, 4), (5, 6)]

In [54]:
characters = ['Neo', 'Morpheus', 'Trinity']
actors = ['Keanu', 'Laurence', 'Carrie-Anne']
set(zip(characters, actors))

{('Morpheus', 'Laurence'), ('Neo', 'Keanu'), ('Trinity', 'Carrie-Anne')}

In [55]:
[character+' is played by '+actor for (character,actor) in zip(characters,actors)]

['Neo is played by Keanu',
 'Morpheus is played by Laurence',
 'Trinity is played by Carrie-Anne']

###### Task

Assign to `L` the list consisting of the first five letters `['A','B','C','D','E']`. Next, use L in an expression whose value is `[(0, ’A’), (1, ’B’), (2, ’C’), (3, ’D’), (4, ’E’)]`. Your expression should use a range and a zip, but should not use a comprehension.

In [56]:
L = ['A','B','C','D','E']

list(zip(range(len(L)),L))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E')]

###### Task

Starting from the lists `[10, 25, 40]` and `[1, 15, 20]`, write a comprehension whose value is the three-element list in which the first element is the sum of 10 and 1, the second is the sum of 25 and 15, and the third is the sum of 40 and 20. Your expression should use zip but not list.

In [57]:
[x+y for (x,y) in zip([10, 25, 40],[1, 15, 20])]

[11, 40, 60]

###### Task

Implement vector dot product using list comprehensions.

In [58]:
v1 = [1,2,3]
v2 = [2,3,4]

sum([x*y for (x,y) in zip(v1,v2)])

20

### reversed

As it says on the tin, `reversed()` allows you to iterate through an object in reverse order

In [59]:
[x*x for x in reversed([4, 5, 10])]

[100, 25, 16]

# Dictionaries

Conceptually, a dictionary is a set of key-value pairs. So it's a set, so it uses curly braces. It is a set, so order is irrelevant, and the keys are immutable.

In [1]:
{'A':0, 'B':1, 'C':2, 'D':3, 'E':4, 'F':5, 'G':6, 'H':7, 'I':8,
'J':9, 'K':10, 'L':11, 'M':12, 'N':13, 'O':14, 'P':15, 'Q':16,
'R':17, 'S':18, 'T':19, 'U':20, 'V':21, 'W':22, 'X':23, 'Y':24,
'Z':25}

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9,
 'K': 10,
 'L': 11,
 'M': 12,
 'N': 13,
 'O': 14,
 'P': 15,
 'Q': 16,
 'R': 17,
 'S': 18,
 'T': 19,
 'U': 20,
 'V': 21,
 'W': 22,
 'X': 23,
 'Y': 24,
 'Z': 25}

In [2]:
# The keys and values can be created using expressions
{2+1:'thr'+'ee', 2*2:'fo'+'ur'}

{3: 'three', 4: 'four'}

### Indexing a dictionary

Index using the key value

In [3]:
dict =  {4:"four", 3:'three'}

print(dict[4])
print(dict[3])
# print(dict[2])   # Whoops

four
three

In [4]:
mydict = {'Neo':'Keanu', 'Morpheus':'Laurence', 'Trinity':'Carrie-Anne'}
mydict['Neo']

'Keanu'

In [5]:
# mydict['Oracle']   # Whoops

### Testing dictionary membership

In [6]:
'Oracle' in mydict

False

In [7]:
mydict['Oracle'] if 'Oracle' in mydict else 'NOT PRESENT'  # Note the one line if-else statement

'NOT PRESENT'

In [8]:
 mydict['Neo'] if 'Neo' in mydict else 'NOT PRESENT'

'Keanu'

### Mutating a dictionary

You can mutate a dictionary, mapping a (new or old) key to a given value, using the syntax used for assigning
a list element, namely using the index syntax on the left-hand side of an assignment

In [9]:
mydict['Agent Smith'] = 'Hugo'
mydict['Neo'] = 'Philip'
mydict

{'Neo': 'Philip',
 'Morpheus': 'Laurence',
 'Trinity': 'Carrie-Anne',
 'Agent Smith': 'Hugo'}

### Dictionary comprehensions

In [10]:
{ k:v for (k,v) in [(3,2),(4,0),(100,1)] }

{3: 2, 4: 0, 100: 1}

In [11]:
{ (x,y):x*y for x in [1,2,3] for y in [1,2,3] }

{(1, 1): 1,
 (1, 2): 2,
 (1, 3): 3,
 (2, 1): 2,
 (2, 2): 4,
 (2, 3): 6,
 (3, 1): 3,
 (3, 2): 6,
 (3, 3): 9}

###### Task

Using range, write a comprehension whose value is a dictionary. The keys should be the integers
from 0 to 99 and the value corresponding to a key should be the square of the key

In [12]:
{ k:k*k for k in range(100) }

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801}

###### Task

Assign to the variable `D` the set `{'red','white','blue'}`. Now write a comprehension that evaluates to a dictionary that represents the identity function on `D`.

An identity function can be thought of as a function whose output leaves the input unchanged. In general arithmetic, for example, the function represented by $+ 0$ and $\times 1$ are the additive and multiplicative identity functions repsectively.



We haven't talked about it much yet, but mathematically speaking, a dictionary can represent a function on a FINITE set of elements. The functions represented by $+ 0$ and $\times 1$ (in typical arithmetic) operate on an infinte set - that is, the set of integers or real numbers.

In the previous example, we could see that the dictionary is representing a function on a finite set (the set of integers from 0 to 99) that maps to another set of integers (the square of the set of integers from 0 to 99).

In [13]:
D = {'red','white','blue'}

# Use dictionary to represent a function that maps D -> D
identity = {d:d for d in D}

In [14]:
print(identity['red'])
print(identity['white'])
print(identity['blue'])

red
white
blue

###### Task

Our system for writing numbers uses decimal notation. For example, the digits $(2, 1, 5)$ represent
the number $2 \times 10^2 + 1 \times 10^1 + 5 \times 10^0$. We say for this system that the base is $10$, and that the available digits are $0, 1, 2, \ldots , 9$. In binary, the digits $(1, 0, 1)$ represent the number $1 × 2^2 + 0 · 2^1 + 1 · 2^0$. In this case, the base is $2$, and the available digits are $0, 1$.

Write a dictionary comprehension using the variables base and digits that evaluates to a dictionary that maps each three-digit number to the three digits that represent it. For example, if `base = 10` then digits should be the set $\{0,1,2,..., 9\}$ and the comprehension should evaluate to

`{0:(0,0,0), 1:(0,0,1), ..., 999:(9,9,9)}`

If `base = 2` then digits should be the set $\{0,1\}$, and the comprehension should evaluate to

`{0:(0,0,0), 1:(0,0,1), 2:(0,1,0),3:(0,1,1), 4:(1,0,0), ...}`

First, let's look at the modulus operator `%`. Modulus operator is akin to a "remainder" operator on integers.

In [15]:
print(10%3)
print(10%2)

1
0

Now the integer division operator `//`. We looked at division before. Integer division returns the integer component.

In [16]:
print(1/2)
print(1//2)
print(10/3)
print(10//3)
print(9/5)
print(9//5)

0.5
0
3.3333333333333335
3
1.8
1

Now on to the task

In [17]:
base = 5
{x:(x//base**2,(x//base)%base,x%base) for x in range(base**3) }

{0: (0, 0, 0),
 1: (0, 0, 1),
 2: (0, 0, 2),
 3: (0, 0, 3),
 4: (0, 0, 4),
 5: (0, 1, 0),
 6: (0, 1, 1),
 7: (0, 1, 2),
 8: (0, 1, 3),
 9: (0, 1, 4),
 10: (0, 2, 0),
 11: (0, 2, 1),
 12: (0, 2, 2),
 13: (0, 2, 3),
 14: (0, 2, 4),
 15: (0, 3, 0),
 16: (0, 3, 1),
 17: (0, 3, 2),
 18: (0, 3, 3),
 19: (0, 3, 4),
 20: (0, 4, 0),
 21: (0, 4, 1),
 22: (0, 4, 2),
 23: (0, 4, 3),
 24: (0, 4, 4),
 25: (1, 0, 0),
 26: (1, 0, 1),
 27: (1, 0, 2),
 28: (1, 0, 3),
 29: (1, 0, 4),
 30: (1, 1, 0),
 31: (1, 1, 1),
 32: (1, 1, 2),
 33: (1, 1, 3),
 34: (1, 1, 4),
 35: (1, 2, 0),
 36: (1, 2, 1),
 37: (1, 2, 2),
 38: (1, 2, 3),
 39: (1, 2, 4),
 40: (1, 3, 0),
 41: (1, 3, 1),
 42: (1, 3, 2),
 43: (1, 3, 3),
 44: (1, 3, 4),
 45: (1, 4, 0),
 46: (1, 4, 1),
 47: (1, 4, 2),
 48: (1, 4, 3),
 49: (1, 4, 4),
 50: (2, 0, 0),
 51: (2, 0, 1),
 52: (2, 0, 2),
 53: (2, 0, 3),
 54: (2, 0, 4),
 55: (2, 1, 0),
 56: (2, 1, 1),
 57: (2, 1, 2),
 58: (2, 1, 3),
 59: (2, 1, 4),
 60: (2, 2, 0),
 61: (2, 2, 1),
 62: (2, 2, 2),
 63: (2, 2, 3),
 64: (2, 2, 4),
 65: (2, 3, 0),
 66: (2, 3, 1),
 67: (2, 3, 2),
 68: (2, 3, 3),
 69: (2, 3, 4),
 70: (2, 4, 0),
 71: (2, 4, 1),
 72: (2, 4, 2),
 73: (2, 4, 3),
 74: (2, 4, 4),
 75: (3, 0, 0),
 76: (3, 0, 1),
 77: (3, 0, 2),
 78: (3, 0, 3),
 79: (3, 0, 4),
 80: (3, 1, 0),
 81: (3, 1, 1),
 82: (3, 1, 2),
 83: (3, 1, 3),
 84: (3, 1, 4),
 85: (3, 2, 0),
 86: (3, 2, 1),
 87: (3, 2, 2),
 88: (3, 2, 3),
 89: (3, 2, 4),
 90: (3, 3, 0),
 91: (3, 3, 1),
 92: (3, 3, 2),
 93: (3, 3, 3),
 94: (3, 3, 4),
 95: (3, 4, 0),
 96: (3, 4, 1),
 97: (3, 4, 2),
 98: (3, 4, 3),
 99: (3, 4, 4),
 100: (4, 0, 0),
 101: (4, 0, 1),
 102: (4, 0, 2),
 103: (4, 0, 3),
 104: (4, 0, 4),
 105: (4, 1, 0),
 106: (4, 1, 1),
 107: (4, 1, 2),
 108: (4, 1, 3),
 109: (4, 1, 4),
 110: (4, 2, 0),
 111: (4, 2, 1),
 112: (4, 2, 2),
 113: (4, 2, 3),
 114: (4, 2, 4),
 115: (4, 3, 0),
 116: (4, 3, 1),
 117: (4, 3, 2),
 118: (4, 3, 3),
 119: (4, 3, 4),
 120: (4, 4, 0),
 121: (4, 4, 1),
 122: (4, 4, 2),
 123: (4, 4, 3),
 124: (4, 4, 4)}

### Comprehensions on dictionaries

In [18]:
{4:'a',3:'b'}.keys()    # Not a list, but it is list-like

dict_keys([4, 3])

In [19]:
{4:'a',3:'b'}.values()

dict_values(['a', 'b'])

In [20]:
[2*x for x in {4:'a',3:'b'}.keys()]

[8, 6]

In [21]:
[x for x in {4:'a',3:'b'}.values()]

['a', 'b']

You can also use the union operator `|` and intersection operator `&`

In [22]:
{'a':1, 'b':2}.keys() | {'b':3, 'c':4}.keys()

{'a', 'b', 'c'}

In [23]:
{'a':1, 'b':2}.keys() & {'b':3, 'c':4}.keys()

{'b'}

In [24]:
[k for k in {'a':1, 'b':2}.keys() | {'b':3, 'c':4}.keys()]

['a', 'b', 'c']

In [25]:
[k for k in {'a':1, 'b':2}.keys() & {'b':3, 'c':4}.keys()]

['b']

### `item()`
Maybe you want to iterate over the (key, value) pairs?

In [26]:
[item for item in mydict.items()]        # Note the output is each pair as a tuple

[('Neo', 'Philip'),
 ('Morpheus', 'Laurence'),
 ('Trinity', 'Carrie-Anne'),
 ('Agent Smith', 'Hugo')]

In [27]:
# you can access the key and value separately using unpacking
[k + " is played by " + v for (k,v) in mydict.items()]

['Neo is played by Philip',
 'Morpheus is played by Laurence',
 'Trinity is played by Carrie-Anne',
 'Agent Smith is played by Hugo']

In [28]:
[2*k+v for (k,v) in {4:0,3:2,100:1}.items() ]

[8, 8, 201]

# One line procedures

We covered functions in a previous tutorial. Let's have a look at one line functions/procedures. In fact, they are exactly the same syntax, we just collapse it.

In [29]:
# Double the input
def twice(z): return 2*z

In [30]:
twice(2)

4

In [31]:
twice(4)

8

###### Task

Define a one-line procedure `nextInts(L)` specified as follows:
* input: list `L` of integers
* output: list of integers whose `i`'th element is one more than the `i`'th element of `L`
* example: input `[1, 5, 7]`, output `[2, 6, 8]`.

In [32]:
def nextInts(L): return [i+1 for i in L]

In [33]:
nextInts([1, 5, 7])

[2, 6, 8]

###### Task

Define a one-line procedure `cubes(L)` specified as follows:
* input: list `L` of numbers
* output: list of numbers whose `i`'th element is the cube of the `i`'th element of `L`
* example: input `[1, 2, 3]`, output `[1, 8, 27]`.

In [34]:
def cubes(L): return [i**3 for i in L]

In [35]:
cubes([1.2,2,4])

[1.7279999999999998, 8, 64]

###### Task

Define a one-line procedure `dict2list(dct,keylist)` with this spec:
* input: dictionary `dct`, list `keylist` consisting of the keys of dct
* output: list `L` such that `L[i] = dct[keylist[i]]` for `i = 0, 1, 2, . . . , len(keylist) − 1`
* example: input `dct={'a':'A', 'b':'B', 'c':'C'}` and `keylist=['b','c','a']`, output `['B', 'C', 'A']`

In [36]:
def dict2list(dct,keylist): return [dct[k] for k in keylist]

In [37]:
dct={'a':'A', 'b':'B', 'c':'C'}
keylist=['b','c','a']

dict2list(dct,keylist)

['B', 'C', 'A']

###### Task

Define a one-line procedure `list2dict(L, keylist)` specified as follows:
* input: list `L`, list keylist of immutable items
* output: dictionary that maps `keylist[i]` to `L[i]` for `i = 0, 1, 2, . . . , len(L) − 1`
* example: input `L=['A','B','C']` and `keylist=['a','b','c']`, output `{'a':'A', 'b':'B', 'c':'C'}`

Hint: Use a comprehension that iterates over a zip or a range.

In [38]:
def list2dict(L, keylist): return {k:v for (k,v) in zip(keylist,L)}

In [39]:
L=['A','B','C']
keylist=['a','b','c']
list2dict(L, keylist)

{'a': 'A', 'b': 'B', 'c': 'C'}